.header__logo {
  max-width: 142px;
  max-height: 33px;
  content: url(../../../images/logo.svg);
  object-fit: contain;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 934px) {
  .header__logo {
    max-width: 122px;
    max-height: 28.5px;
    padding-left: 27px;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
  }
}
